:root {
  --text-color: #e7e7e7;
  --background-color: #181818;
  --nav-color: #252525;
  --items-color: #202020;
  --border-color: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  position: relative;
}